In [160]:
%matplotlib inline
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [162]:
titles = pd.read_csv('C:/Users/Dell/OneDrive/Desktop/Vicky/Top Mentor Class Lectures/DATA SCIENCE/cast.csv', index_col=None)
titles.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [166]:
cast = pd.read_csv('C:/Users/Dell/OneDrive/Desktop/Vicky/Top Mentor Class Lectures/DATA SCIENCE/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

The Movies Are Listed in 1048575

In [142]:
len(data)

1048575

### What are the earliest two films listed in the titles dataframe?

In [167]:
titles.sort_values(by='year').head(2)

,title,year,name,type,character,n
464860,Miss Jerry,1894,William Courtenay,actor,Mr. Hamilton,NaN
555929,Miss Jerry,1894,Chauncey Depew,actor,Himself - the Director of the New York Central...,NaN

### How many movies have the title "Hamlet"?

In [168]:
len(titles[titles.title == "Hamlet"])

113

### How many movies are titled "North by Northwest"?

In [169]:
len(titles[titles.title == "North by Northwest"])

41

### When was the first movie titled "Hamlet" made?

In [171]:
len(titles[titles.title == "Hamlet"])

113

### List all of the "Treasure Island" movies from earliest to most recent.

In [172]:
titles[titles.title == "Treasure Island"].sort_values(by='year')

,title,year,name,type,character,n
909157,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
840745,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
830114,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
339256,Treasure Island,1918,Francis Carpenter,actor,Jim Hawkins,1.0
374597,Treasure Island,1920,Lon Chaney,actor,Blind Pew,5.0
...,...,...,...,...,...,...
880460,Treasure Island,1999,Rio Hackford,actor,Hans,23.0
872384,Treasure Island,1999,Paul Gutrecht,actor,Some Guy,20.0
114904,Treasure Island,1999,Lance (II) Baker,actor,Frank,1.0
934507,Treasure Island,1999,Pat Healy,actor,Clark,4.0
589900,Treasure Island,1999,Jamie Donovan,actor,John,21.0

### How many movies were made in the year 1950?

In [173]:
len(titles[titles.year == 1950])

7389

### How many movies were made in the year 1960?

In [174]:
len(titles[titles.year == 1960])

5608

### How many movies were made from 1950 through 1959?

In [175]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

67706

### In what years has a movie titled "Batman" been released?

In [176]:
titles[titles.title == "Batman"]

,title,year,name,type,character,n
95672,Batman,1943,Frank Austin,actor,Hotel Clerk,NaN
96186,Batman,1943,William Austin,actor,Alfred Pennyworth,NaN
114034,Batman,1989,Del Baker,actor,Napier Hood,31.0
119476,Batman,1989,Michael Balfour,actor,Scientist,44.0
149767,Batman,1989,David Baxt,actor,Dr. Thomas Wayne,48.0
199262,Batman,1989,Paul Birchard,actor,Another Reporter,55.0
211518,Batman,1989,Hugo Blick,actor,Young Jack Napier,41.0
258721,Batman,1943,Lynton Brent,actor,Intended Lockwood Pilot,NaN
287420,Batman,1943,Roy Bucko,actor,Barfly,NaN
379733,Batman,1989,Carl Chase,actor,Goon,14.0
387956,Batman,1943,George Chesebro,actor,Brennan [Ch. 1-3,NaN
449581,Batman,1989,George Lane Cooper,actor,Goon,16.0
468892,Batman,1989,Harold Coyne,actor,Gotham City Pedestrian,NaN
470065,Batman,1989,Edwin Craig,actor,Rotelli,20.0
477447,Batman,1943,Douglas Croft,actor,Robin,2.0
477448,Batman,1943,Douglas Croft,actor,Dick Grayson,2.0
489980,Batman,1989,Clive Curtis,actor,Goon in Bell-Tower,NaN
490035,Batman,1943,Dick Curtis,actor,Agent Croft of Section 50 [Ch. 10-12]),NaN
492323,Batman,1989,Joel Cutrara,actor,Crimelord #2,22.0
499977,Batman,1989,John Dair,actor,Ricorso,23.0
575535,Batman,1943,James Dime,actor,Henchman,NaN
592716,Batman,1943,Lester Dorr,actor,Agent on Plane [Ch. 10,NaN
596448,Batman,1989,Sam Douglas,actor,Lawyer,52.0
612482,Batman,1943,Kenne Duncan,actor,"Fred, the Mechanic [Ch. 5-6",NaN
618032,Batman,1989,Richard Durden,actor,TV Director,28.0
633157,Batman,1989,Keith Edwards,actor,Reporter,36.0
670819,Batman,1989,Christopher Fairbank,actor,Nic,24.0
706534,Batman,1943,Robert Fiske,actor,Foster [Ch. 1-4,NaN
713064,Batman,1943,Sam Flint,actor,Dr. G.H. Borden [Ch. 1,NaN
735294,Batman,1943,Jerry Frank,actor,Cave of Horrors Thug,NaN
746897,Batman,1943,Terry Frost,actor,Male Nurse [Ch. 7,NaN
772267,Batman,1943,Jack (II) Gardner,actor,Jim Bramwell,NaN
779455,Batman,1989,Clyde Gatell,actor,Other Mugger,50.0
808898,Batman,1943,Gus Glassmire,actor,Martin Warren,NaN
830209,Batman,1989,Pat Gorman,actor,Cop at Axis Chemicals,NaN
832826,Batman,1989,Michael Gough,actor,Alfred Pennyworth,7.0
880219,Batman,1943,Karl Hackett,actor,Wallace,NaN
883681,Batman,1989,Garrick Hagon,actor,Tourist Dad,46.0
949057,Batman,1989,Leon Herbert,actor,Reporter,37.0
966816,Batman,1989,Pat Hingle,actor,Commissioner James Gordon,5.0
973056,Batman,1943,Earle Hodgins,actor,Joe,NaN
987413,Batman,1989,William Hootkins,actor,Lt. Eckhardt,12.0
1007490,Batman,1943,Mauritz Hugo,actor,Doctor,NaN
1029154,Batman,1943,Jack Ingram,actor,Henchman Klein,NaN
1043887,Batman,1943,Warren Jackson,actor,Bernie,NaN

### How many roles were there in the movie "Inception"?

In [177]:
len(cast[cast.title == "Inception"])

27

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [178]:
len(cast[(cast.title == "Inception") & (cast.n.isnull())])

8

### But how many roles in the movie "Inception" did receive an "n" value?

In [179]:
len(cast[(cast.title == "Inception") & (cast.n.notnull())])

19

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [180]:
cast[(cast.title == "North by Northwest") & (cast.n.notnull())].sort_values(by='n')

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [181]:
cast[(cast.title == "Sleuth") & (cast.year == 1972) & (cast.n.notnull())].sort_values(by='n')

         title  year            name   type          character    n
314691  Sleuth  1972   Michael Caine  actor        Milo Tindle  2.0
360365  Sleuth  1972  Alec Cawthorne  actor  Inspector Doppler  3.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [182]:
cast[(cast.title == "Sleuth") & (cast.year == 2007) & (cast.n.notnull())].sort_values(by='n')

         title  year           name   type character    n
314692  Sleuth  2007  Michael Caine  actor    Andrew  1.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [184]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1921)])

3

### How many roles were credited in Branagh’s 1996 Hamlet?

In [185]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1996)])

24

### How many "Hamlet" roles have been listed in all film credits through history?

In [186]:
len(cast[cast.character == "Hamlet"])

38

### How many people have played an "Ophelia"?

In [187]:
len(cast[cast.character == "Ophelia"])

4

### How many people have played a role called "The Dude"?

In [188]:
len(cast[cast.character == "The Dude"])

6

### How many people have played a role called "The Stranger"?

In [189]:
len(cast[cast.character == "The Stranger"])

84

### How many roles has Sidney Poitier played throughout his career?

In [190]:
len(cast[cast.character == "Sidney Poitier"])

1

### How many roles has Judi Dench played?

In [191]:
len(cast[cast.character == "Judi Dench"])

0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [195]:
cast[
    (cast.name == 'Cary Grant') & 
    (cast.year // 10 == 194) &
    (cast.n == 2)
].sort_values(by='year')

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [197]:
cast[
    (cast.name == 'Cary Grant') & 
    (cast.year // 10 == 194) &
    (cast.n == 1)
].sort_values(by='year')

,title,year,name,type,character,n
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [202]:
len(cast[
    (cast.year // 10 == 195) &
    (cast.type == "actor")
])

67706

### How many roles were available for actresses in the 1950s?

In [203]:
len(cast[
    (cast.year // 10 == 195) &
    (cast.type == "actress")
])

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [204]:
len(cast[
    (cast.year <= 1980) &
    (cast.n == 1)
])

18968

### How many non-leading roles were available through from the beginning of film history through 1980?

In [205]:
len(cast[
    (cast.year <= 1980) &
    (cast.n != 1)
])

351862

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [206]:
len(cast[
    (cast.year <= 1980) &
    (cast.n.isnull())
])

149991